
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* Body Style  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: bold;
    width: 100%;
}
main{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}
.container{
    background: #FFFFFF;
    padding: 70px;
}
/* Heading Postar Deasin */
.header{
    display: flex;
    background-color: #2D25A0;
    align-items: center;
}
.live{
    width: 50%;
    overflow: hidden;
    padding: 156px 40px 129px 50px;
}
.live h1{
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 100px;
    margin-bottom: 23px;
}
.live a{
    color: #FFFFFF;
    background: #E02C6D;
    text-decoration: none;
    margin-left: 100px;
    font-size: 14px;
    padding: 12px 25px;
}
.live #symbol{
    margin-left: 15px;
}
.live:hover img{
    transform: scale(1.1);
    transition: transform 2s;
}
.live img{
    width: 100%;
}
/* Heading End  */
/* players Description style  */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-row-gap: 0;
}
.player{
    width: 310px;
    height: 484px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.images img{
 width: 100%;
}
.name{
    font-size: 28px;
    color: #18191F;
    margin: 5px;
}
.details{
    font-size: 14px;
    color: #6C6C6C;
    margin-top: 0;
}
/* players Description style End */
/* portfolio area design */
.portfolio-area{
    display: flex;
    align-items: center;
    flex-direction: column;
	width:80%;
	background:#ffdd99;
	padding:60px 0;
    margin-bottom: 30px;
}
.middle-area > h2{
	font-size:40px;
	color:#393939;
	margin:0;
	padding-top:15px;
	text-align:center;	
}
.middle-area > p{
	font-size:18px;
	color:#393939;
	margin:auto;	
	width:50%;
	text-align:center;
	padding:10px 0;
}
.portfolio-menu ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	margin-top:25px;
}
.portfolio-menu ul{
	display: flex;
    justify-content: center;
}
.portfolio-menu ul li a{
	padding:5px 20px;
	color:#393939;
	background:#ebc985;
	font-size:18px;
	border-radius:5px;
    text-decoration: none;
	margin-left:10px;
}
.portfolio-menu ul li a:hover{
	background:#ffff;
}
/* Contact area  */
.contact-area{
	background:#3c5499;
	padding:60px 0;
	width:80%;
    margin-bottom: 50px;
}
.contact-area > h2{
	font-size:40px;
	color:#ffffff;
	margin:0;
	text-align:center;	
}
.contact-area > p{
	font-size:18px;
	color:#ffffff;
	margin:auto;	
	text-align:center;
	padding:10px 0;
	word-spacing:1px;
}
.contact-boxes{
	width:80%;
	margin:auto;
}
.username input{
	font-size:18px;
	background:#273a71;
	padding:10px;
	color:#ffff;
	border:1px transparent;
	box-sizing:border-box;
	border-radius:5px;
	display: block;
    margin-top: 10px;
	width:100%;
}
.username{
    display: flex;
    justify-content: space-between;
}
.name-field{
	width:45%;
	float:left;
}
.email-field{
	width:45%;
	float:right;
}
.contact-boxes textarea{
	width:100%;
	font-size:18px;
	background:#273a71;
	padding:10px;
	color:#ffff;
	border:1px transparent;
	box-sizing:border-box;
	margin-top:23px;
	border-radius:5px;
}
.action{
	text-align:center;
}
.action input{
	background:#30bae7;
	padding:10px 60px;
	font-size:18px;
	color:#ffff;
	margin-top:40px;
	margin-bottom:20px;
	border-radius:5px;
	box-shadow:0 4px 0px #299ec5;
	border:1px solid transparent;
}
.action input:hover{
	background:#299ec5;
}
/* Footer Part  */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.footer img{
    width: 483px;
    height: 110px;
    margin-bottom: 25px;
}
.social_link .fab{
    height: 15px;
    width: 15px;
    background: #dddfe6;
    color: #868fad;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px;
    margin-right: 10px;
}
.footer p{
    font-size: 18px;
    font-style: normal;
    margin-top: 25px;
}
/* Footer End  */
/* Media For Mobile  */
@media only screen and (max-width: 688px){
    .header{
        flex-direction: column;
        align-items: flex-end;
    }
    .live{
        width: 100%;
        padding: 50px 0;
    }
    .live h1{
        margin-left: 10px;
        font-size: 45px;
    }
    .live a{
        margin-left: 10px;
    }
    .live img{
        width: 90%;
        margin-left: 10px;
    }
    .container{
        padding: 0;
        margin-top: 80px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-menu ul li a{
        margin-left:5px;
        font-size:14px;
        padding: 4px 7px;
    }
    .action input{
        padding:5px 30px;
        font-size:16px;
    }
    .footer img{
        width: 350px;
        height: 110px;
        margin-bottom: 25px;
    }
}
/* Media for Tablet */
@media only screen and (min-width:688px) and (max-width:992px) {
    .header{
        flex-direction: column;
        align-items: flex-end;
    }
    .live{
        width: 100%;
        padding: 80px 20px;
    }
    .live h1{
        margin-left: 26px;
        font-size: 55px;
    }
    .live a{
        margin-left: 26px;
    }
    .live img{
        width: 90%;
        margin-left: 26px;
    }
    .container{
        padding: 0;
        margin-top: 40px;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer img{
        width: 350px;
        height: 110px;
        margin-bottom: 25px;
    }
}